<?php

define('HOST', 'YOUR-HOST');
define('USER', 'YOUR-USER');
define('PASS', 'YOUR-PASSWORD');
define('DATABASE', 'YOUR-DATABASE');

$options_db = array(
	PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES utf8",
	PDO::ATTR_ERRMODE => PDO::ERRMODE_WARNING
);

$db = new PDO("mysql:host=".HOST.";dbname=".DB,USER,PASS, $options_db);

session_start();
$url = $_SERVER['REQUEST_SCHEME']."://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
$url = preg_replace('/\?.*/', '', $url);
?>